@{
    ViewData["Title"] = "Home 02";
}
<!--<< Hero Section Start >>--> 
              <section class="hero-section hero-2 fix">
                <div class="hero-image">
                    <img src="/assets/img/hero/hero-4.jpg" alt="img">
                </div>
                <div class="dot-shape">
                    <img src="/assets/img/hero/icon-dots-8.png" alt="shape-img">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero-content">
                                <h1 class="wow fadeInUp" data-wow-delay=".3s">
                                    Easy & Simple Visa Processing  Agency
                                </h1>
                                <p class="wow fadeInUp" data-wow-delay=".5s">
                                    Transmds is the world’s driving worldwide coordinations supplier we uphold
                                    industry and exchange the worldwide trade of merchandi
                                </p>
                                <div class="hero-button">
                                    <a href='@Url.Action("Index", "Home")' class="theme-btn hover-white wow fadeInUp" data-wow-delay=".3s"><span>Learn More <i class="fas fa-chevron-right"></i></span></a>
                                    <a href='@Url.Action("ServiceDetails", "Home")' class="theme-btn bg-white wow fadeInUp" data-wow-delay=".5s"><span>Explore Services  <i class="fas fa-chevron-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--<< Service Section Start >>--> 
            <section class="service-section fix section-padding section-bg">
                <div class="container">
                    <div class="section-title text-center">
                        <span class="wow fadeInUp">What We Offer</span>  
                        <h2 class="title-anim">
                            Professional Offer For Immigrate
                        </h2>  
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="service-box-items">
                                <div class="icon">
                                    <i class="flaticon-immigration-law-2"></i>
                                </div>
                                <div class="content">
                                    <h3>
                                        Legal Immigration Success
                                    </h3>
                                    <p>
                                        Visit new places to discover with a Tourist Visa. We deliver
                                    </p>
                                    <a href='@Url.Action("About", "Home")' class="arrow-icon">
                                        <i class="far fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="service-box-items active">
                                <div class="icon">
                                    <i class="flaticon-passport-17"></i>
                                </div>
                                <div class="content">
                                    <h3>
                                        Accurate & Expert Advice
                                    </h3>
                                    <p>
                                        Visit new places to discover with a Tourist Visa. We deliver
                                    </p>
                                    <a href='@Url.Action("About", "Home")' class="arrow-icon">
                                        <i class="far fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="service-box-items">
                                <div class="icon">
                                    <i class="flaticon-immigration-officer"></i>
                                </div>
                                <div class="content">
                                    <h3>
                                        Faster & Reliable Executant
                                    </h3>
                                    <p>
                                        Visit new places to discover with a Tourist Visa. We deliver
                                    </p>
                                    <a href='@Url.Action("About", "Home")' class="arrow-icon">
                                        <i class="far fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                            <div class="service-box-items">
                                <div class="icon">
                                    <i class="flaticon-visa-5"></i>
                                </div>
                                <div class="content">
                                    <h3>
                                        Visa Process Responsibility
                                    </h3>
                                    <p>
                                        Visit new places to discover with a Tourist Visa. We deliver
                                    </p>
                                    <a href='@Url.Action("About", "Home")' class="arrow-icon">
                                        <i class="far fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--<< Case Studies Start >>-->
            <div class="marque-section">
                <div class="marquee-wrapper text-slider style-height">
                    <div class="marquee-inner to-left">
                        <ul class="marqee-list d-flex">
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Visa Processing</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Help in Documentation</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Immigrations</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Travel Partners</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Tours & Travel Agency</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Visa Processing</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Help in Documentation</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Immigrations</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Travel Partners</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Tours & Travel Agency</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <!--<< About Section Start >>--> 
            <section class="about-section section-padding">
                <div class="container">
                    <div class="about-wrapper style-2">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="about-image-items">
                                    <div class="border-shape">
                                        <img src="/assets/img/about/border-shape-2.png" alt="shape-img">
                                    </div>
                                    <div class="about-image bg-cover wow fadeInUp" data-wow-delay=".3s" style="background-image: url('/assets/img/about/about-3.jpg');">
                                        <div class="about-image-2 wow fadeInUp" data-wow-delay=".4s">
                                            <img src="/assets/img/about/about-4.jpg" alt="about-img">
                                        </div>
                                        <div class="experience-text-area wow fadeInUp" data-wow-delay=".5s">
                                            <h2><span class="count">25</span>+</h2>
                                            <h6>Years Of Experience</h6>
                                            <div class="star">
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star me-2"></span>
                                                <span>Trustpoint</span>
                                            </div>
                                            <div class="ratting">
                                                <span>4.9</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mt-5 mt-lg-0">
                                <div class="about-content">
                                    <div class="section-title">
                                        <span class="wow fadeInUp">About Company</span>
                                        <h2 class="title-anim">
                                            Welcome To Experience Visa
                                            Consulting Firm.
                                        </h2>
                                    </div>
                                    <p class=" mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
                                        Transmds is the world’s driving worldwide coordinations supplier — we uphold industry and exchange the worldwide trade of merchandi
                                    </p>
                                    <div class="icon-area">
                                        <div class="icon-items wow fadeInUp" data-wow-delay=".7s">
                                            <div class="icon">
                                                <i class="flaticon-passport"></i>
                                            </div>
                                            <div class="content">
                                                <h5>
                                                    Legal Immigration <br>
                                                    Success</h5>
                                                <p>
                                                    We are a dynamic and forward-thinking
                                                    startup dedicated to revolution
                                                </p>
                                            </div>
                                        </div>
                                        <div class="icon-items wow fadeInUp" data-wow-delay=".9s">
                                            <div class="icon">
                                                <i class="flaticon-visa-5"></i>
                                            </div>
                                            <div class="content">
                                                <h5>
                                                    Regiments <br>
                                                    Document Support</h5>
                                                <p>
                                                    We are a dynamic and forward-thinking
                                                    startup dedicated to revolution
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="about-list wow fadeInUp" data-wow-delay=".4s">
                                        <li>
                                            <i class="far fa-check me-2"></i>
                                            We approached WiaTech with complex project deliver
                                        </li>
                                        <li>
                                            <i class="far fa-check me-2"></i>
                                            Awards Winning Visa Consulting Company
                                        </li>
                                    </ul>
                                    <div class="about-author wow fadeInUp" data-wow-delay=".6s">
                                        <div class="about-button wow fadeInUp" data-wow-delay=".8s">
                                            <a href='@Url.Action("About", "Home")' class="theme-btn">
                                               <span>
                                                     Learn More Us 
                                                    <i class="fas fa-chevron-right"></i>
                                               </span>
                                            </a>
                                        </div>
                                        <div class="author-image">
                                            <img src="/assets/img/about/client.png" alt="author-img">
                                            <div class="content">
                                                <p>10m+ Trusted Global Customers</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--<< Coaching Section Start >>-->
            <section class="coaching-section fix section-padding section-bg">
                <div class="container">
                    <div class="section-title text-center">
                        <span class="wow fadeInUp">Training & Certification</span>
                        <h2 class="title-anim">We Provide Special Care To Make <br> Easy Your Dream</h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                            <div class="coaching-card-items">
                                <div class="coacing-image">
                                    <img src="/assets/img/coaching/01.jpg" alt="img">
                                </div>
                                <div class="icon">
                                    <i class="flaticon-mortarboard"></i>
                                </div>
                                <div class="content text-center">
                                    <h3><a href='@Url.Action("CoachingDetails", "Home")'>IELTS Courses</a></h3>
                                    <p>
                                        Sit amet conse bestibulume
                                        ullamcorper nulla amet
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                            <div class="coaching-card-items">
                                <div class="coacing-image">
                                    <img src="/assets/img/coaching/02.jpg" alt="img">
                                </div>
                                <div class="icon">
                                    <i class="flaticon-graduated"></i>
                                </div>
                                <div class="content text-center">
                                    <h3><a href='@Url.Action("CoachingDetails", "Home")'>Citizenship Test</a></h3>
                                    <p>
                                        Sit amet conse bestibulume
                                        ullamcorper nulla amet
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                            <div class="coaching-card-items active">
                                <div class="coacing-image">
                                    <img src="/assets/img/coaching/03.jpg" alt="img">
                                </div>
                                <div class="icon">
                                    <i class="flaticon-plane-ticket"></i>
                                </div>
                                <div class="content text-center">
                                    <h3><a href='@Url.Action("CoachingDetails", "Home")'>TOFEL Coaching</a></h3>
                                    <p>
                                        Sit amet conse bestibulume
                                        ullamcorper nulla amet
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                            <div class="coaching-card-items">
                                <div class="coacing-image">
                                    <img src="/assets/img/coaching/04.jpg" alt="img">
                                </div>
                                <div class="icon">
                                    <i class="flaticon-airplane-2"></i>
                                </div>
                                <div class="content text-center">
                                    <h3><a href='@Url.Action("CoachingDetails", "Home")'>OET Coaching</a></h3>
                                    <p>
                                        Sit amet conse bestibulume
                                        ullamcorper nulla amet
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--<< Working Process Section Start >>-->
            <section class="woeking-process fix section-padding section-bg-3">
                <div class="left-shape">
                    <img src="/assets/img/shape-left.jpg" alt="img">
                </div>
                <div class="right-shape">
                    <img src="/assets/img/shape-right.jpg" alt="img">
                </div>
                <div class="container">
                    <div class="section-title text-center">
                        <span class="color-style wow fadeInUp">how we process our work</span>
                        <h2 class="text-white title-anim">
                            See Our Working Process <br>
                            How We Manage
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="process-items">
                                <span class="process-number">01</span>
                                <div class="content">
                                    <div class="icon">
                                        <i class="flaticon-service"></i>
                                    </div>
                                    <h3>Select Visa Types</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="process-items">
                                <span class="process-number">02</span>
                                <div class="content">
                                    <div class="icon">
                                        <i class="flaticon-talk"></i>
                                    </div>
                                    <h3>Complete Online Registrations</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="process-items">
                                <span class="process-number">03</span>
                                <div class="content">
                                    <div class="icon">
                                        <i class="flaticon-brainstorming"></i>
                                    </div>
                                    <h3>Documents and Payments</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                            <div class="process-items">
                                <span class="process-number">04</span>
                                <div class="content">
                                    <div class="icon">
                                        <i class="flaticon-gear"></i>
                                    </div>
                                    <h3>Receive your <br> Visa Now</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cta-banner-2 mb-0 wow fadeInUp" data-wow-delay=".4s">
                        <div class="cta-items">
                            <img src="/assets/img/client.png" alt="img">
                            <div class="content">
                                <p>Ready to Get</p>
                                <h6>Consultations to Our Expertise</h6>
                            </div>
                        </div>
                        <a href='@Url.Action("Contact", "Home")' class="theme-btn bg-white">
                            <span>
                                Read More
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </section>
    
            <!--<< Visa Service Section Start >>-->
            <section class="visa-service-section fix section-padding">
                <div class="container">
                    <div class="section-title text-center">
                        <span class="wow fadeInUp">Service We Provide</span>
                        <h2 class="title-anim">Explore Our Visa Citizenship & <br> Immigration Services</h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="service-visa-items">
                                <div class="service-visa-thumb">
                                    <img src="/assets/img/visa/01.jpg" alt="img">
                                    <img src="/assets/img/visa/01.jpg" alt="img">
                                    <a href='@Url.Action("ServiceDetails", "Home")' class="image-overlay">
                                        <i class="fal fa-plus"></i>
                                    </a>
                                </div>
                                <div class="service-visa-content">
                                    <h3><a href='@Url.Action("ServiceDetails", "Home")'>Student Visa</a></h3>
                                    <p>
                                        Quis autem vel eum iure reprehenderit quin eaes voluptate velit esse quam
                                    </p>
                                    <a href='@Url.Action("ServiceDetails", "Home")' class="link-btn">
                                        <span>read more</span>
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="service-visa-items">
                                <div class="service-visa-thumb">
                                    <img src="/assets/img/visa/02.jpg" alt="img">
                                    <img src="/assets/img/visa/02.jpg" alt="img">
                                    <a href='@Url.Action("ServiceDetails", "Home")' class="image-overlay">
                                        <i class="fal fa-plus"></i>
                                    </a>
                                </div>
                                <div class="service-visa-content">
                                    <h3><a href='@Url.Action("ServiceDetails", "Home")'>business Visa</a></h3>
                                    <p>
                                        Quis autem vel eum iure reprehenderit quin eaes voluptate velit esse quam
                                    </p>
                                    <a href='@Url.Action("ServiceDetails", "Home")' class="link-btn">
                                        <span>read more</span>
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="service-visa-items">
                                <div class="service-visa-thumb">
                                    <img src="/assets/img/visa/03.jpg" alt="img">
                                    <img src="/assets/img/visa/03.jpg" alt="img">
                                    <a href='@Url.Action("ServiceDetails", "Home")' class="image-overlay">
                                        <i class="fal fa-plus"></i>
                                    </a>
                                </div>
                                <div class="service-visa-content">
                                    <h3><a href='@Url.Action("ServiceDetails", "Home")'>Tourist Visa</a></h3>
                                    <p>
                                        Quis autem vel eum iure reprehenderit quin eaes voluptate velit esse quam
                                    </p>
                                    <a href='@Url.Action("ServiceDetails", "Home")' class="link-btn">
                                        <span>read more</span>
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--<< Service Counter Section Start >>-->
            <section class="service-counter-section fix">
                <div class="container">
                    <div class="service-counter-wrapper">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="service-counter-content">
                                    <div class="section-title">
                                        <span class="text-white wow fadeInUp">5m+ Trusted Our Clients</span>
                                        <h2 class="text-white title-anim">
                                            Most experienced <br>
                                            our services
                                        </h2>
                                    </div>
                                    <p class="mt-4 mt-md-0 text-white wow fadeInUp" data-wow-delay=".5s">
                                        Transmds is the world’s driving worldwide <br>
                                        exchange the worldwide trade of 
                                    </p>
                                    <a href='@Url.Action("ServiceDetails", "Home")' class="theme-btn bg-white mt-4 wow fadeInUp" data-wow-delay=".7s">
                                        <span>
                                            Explore Our Service
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7 mt-5 mt-lg-0">
                                <div class="row g-4">
                                   <div class="col-lg-4 wow fadeInUp" data-wow-delay=".3s">
                                        <div class="service-counter-items">
                                            <div class="icon">
                                                <i class="flaticon-traveling"></i>
                                            </div>
                                            <div class="content">
                                                <h2>
                                                    <span class="count">35</span>+</h2>
                                                <p>
                                                    Countries <br>
                                                    Represented
                                                </p>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="col-lg-4 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="service-counter-items active">
                                        <div class="icon">
                                            <i class="flaticon-visa-10"></i>
                                        </div>
                                        <div class="content">
                                            <h2>
                                                <span class="count">83</span>K+</h2>
                                            <p>
                                                Visa <br>
                                                Devilry
                                            </p>
                                        </div>
                                    </div>
                                   </div>
                                   <div class="col-lg-4 wow fadeInUp" data-wow-delay=".7s">
                                        <div class="service-counter-items">
                                            <div class="icon">
                                                <i class="flaticon-passport-11"></i>
                                            </div>
                                            <div class="content">
                                                <h2>
                                                    <span class="count">99</span>%</h2>
                                                <p>
                                                    Success  <br>
                                                    Rate
                                                </p>
                                            </div>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!--<< Team Section Start >>-->
            <section class="team-section section-padding section-bg-3">
                <div class="container">
                    <div class="section-title text-center">
                        <span class="wow fadeInUp">Professional people</span>
                        <h2 class="text-white title-anim">
                            Meet Our Expert Visa <br> Consultants.
                        </h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                            <div class="single-team-items">
                                <div class="team-image">
                                    <img src="/assets/img/team/01.jpg" alt="team-img">
                                    <div class="social-profile">
                                        <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h5>
                                        <a href='@Url.Action("TeamDetails", "Home")'>Salman Ahmed</a>
                                    </h5>
                                    <p>CEO & Founder</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                            <div class="single-team-items">
                                <div class="team-image">
                                    <img src="/assets/img/team/02.jpg" alt="team-img">
                                    <div class="social-profile">
                                        <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h5>
                                        <a href='@Url.Action("TeamDetails", "Home")'>Sonsil Macron</a>
                                    </h5>
                                    <p>CEO & Founder</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                            <div class="single-team-items">
                                <div class="team-image">
                                    <img src="/assets/img/team/03.jpg" alt="team-img">
                                    <div class="social-profile">
                                        <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h5>
                                        <a href='@Url.Action("TeamDetails", "Home")'>Kawser Ahmed</a>
                                    </h5>
                                    <p>CEO & Founder</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                            <div class="single-team-items">
                                <div class="team-image">
                                    <img src="/assets/img/team/04.jpg" alt="team-img">
                                    <div class="social-profile">
                                        <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h5>
                                        <a href='@Url.Action("TeamDetails", "Home")'>Sara Albert</a>
                                    </h5>
                                    <p>Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-button wow fadeInUp" data-wow-delay=".4s">
                        <a href='@Url.Action("Team", "Home")' class="theme-btn mt-5 hover-white">
                            <span>
                                Explore more team
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </section>
    
            <!--<< Faq Section Start >>--> 
            <section class="faq-section fix section-padding">
                <div class="container">
                    <div class="about-wrapper">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="about-content">
                                    <div class="section-title">
                                        <span class="wow fadeInUp"> FREQUENTLY ASKED QUESTIONS</span>
                                        <h2 class="title-anim">
                                            Questions & Answer
                                        </h2>
                                    </div>
                                    <p class=" mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
                                        Transmds is the world’s driving worldwide coordinations supplier — we uphold industry and exchange the worldwide trade of merchandi
                                    </p>
                                    <ul class="about-list mt-4 wow fadeInUp" data-wow-delay=".7s">
                                        <li>
                                            <i class="far fa-check me-2"></i>
                                            Direct Online Consultation with Our UK Based Lawyers
                                        </li>
                                        <li>
                                            <i class="far fa-check me-2"></i>
                                           Quick & Easy Process
                                        </li>
                                        <li>
                                            <i class="far fa-check me-2"></i>
                                            Required Documents Support
                                        </li>
                                    </ul>
                                    <div class="circle-progress-bar-wrapper mbm-10">
                                        <div class="single-circle-bar wow fadeInUp" data-wow-delay=".8s">
                                            <div class="circle-bar" data-percent="88" data-duration="1000">
                                            </div>
                                            <div class="content">
                                                <h6>
                                                    Legal Immigration <br>Success
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="single-circle-bar wow fadeInUp" data-wow-delay=".9s">
                                            <div class="circle-bar" data-percent="99" data-duration="1000">
                                            </div>
                                            <div class="content">
                                                <h6>
                                                    Maximum Chances <br>for Visa Approval
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mt-5 mt-lg-0">
                                <div class="faq-content">
                                    <div class="faq-accordion">
                                        <div class="accordion" id="accordion">
                                            <div class="accordion-item wow fadeInUp" data-wow-delay=".3s">
                                                <h4 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
                                                        Which is the prerequisites for immigration?
                                                    </button>
                                                </h4>
                                                <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                                    <div class="accordion-body">
                                                        Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                        Duis aute irure dolor in reprehenderit in voluptate velit .
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item wow fadeInUp" data-wow-delay=".5s">
                                                <h4 class="accordion-header">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="true" aria-controls="faq2">
                                                        What are the contact address of Immigway?
                                                    </button>
                                                </h4>
                                                <div id="faq2" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                                                    <div class="accordion-body">
                                                        Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                        Duis aute irure dolor in reprehenderit in voluptate velit .
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item wow fadeInUp" data-wow-delay=".7s">
                                                <h4 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                                                        What IELTS Score required for Canada?
                                                    </button>
                                                </h4>
                                                <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                                    <div class="accordion-body">
                                                        Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                        Duis aute irure dolor in reprehenderit in voluptate velit .
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item wow fadeInUp" data-wow-delay=".9s">
                                                <h4 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                                                        How much time needed for visa renewal?
                                                    </button>
                                                </h4>
                                                <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                                    <div class="accordion-body">
                                                        Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                        Duis aute irure dolor in reprehenderit in voluptate velit .
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--<< Country Section Start >>--> 
            <section class="country-section fix section-padding section-bg-3 bg-cover" style="background-image: url('/assets/img/flag/lines-waves1.png');">
                <div class="container">
                    <div class="section-title text-center">
                        <span class="wow fadeInUp">Countries we offer</span>
                        <h2 class="text-white title-anim">Countries We Support for <br> Immigration.</h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                            <div class="country-box-items">
                                <div class="flag-thumb">
                                    <img src="/assets/img/flag/uk.svg" alt="United Kingdom flag">
                                </div>
                                <div class="flag-content">
                                    <h3><a href='@Url.Action("CountryDetails", "Home")'>UK</a></h3>
                                    <p>
                                        Visa and immigration guidance.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                            <div class="country-box-items">
                                <div class="flag-thumb">
                                    <img src="/assets/img/flag/us.svg" alt="United States flag">
                                </div>
                                <div class="flag-content">
                                    <h3><a href='@Url.Action("CountryDetails", "Home")'>USA</a></h3>
                                    <p>
                                        Visa and immigration guidance.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                            <div class="country-box-items">
                                <div class="flag-thumb">
                                    <img src="/assets/img/flag/canada.svg" alt="Canada flag">
                                </div>
                                <div class="flag-content">
                                    <h3><a href='@Url.Action("CountryDetails", "Home")'>Canada</a></h3>
                                    <p>
                                        Visa and immigration guidance.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                            <div class="country-box-items">
                                <div class="flag-thumb">
                                    <img src="/assets/img/flag/eu.svg" alt="European Union flag (Schengen)">
                                </div>
                                <div class="flag-content">
                                    <h3><a href='@Url.Action("CountryDetails", "Home")'>Schengen</a></h3>
                                    <p>
                                        Visa and immigration guidance.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--<< Choose Section Start >>--> 
            <section class="choose-us-section fix section-padding">
                <div class="shape-image float-bob-y">
                    <img src="/assets/img/choose/shape.png" alt="shape-img">
                </div>
                <div class="container">
                    <div class="choose-wrapper">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="choose-content">
                                   <div class="section-title">
                                        <span class="wow fadeInUp">Check our company benifits</span>
                                        <h2 class="title-anim">
                                            Why you should choose <br>
                                            our services
                                        </h2>
                                   </div>
                                   <p class="mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
                                       Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem is simply free text quis bibendum. There are many variations of passages of available
                                   </p>
                                   <ul class="wow fadeInUp" data-wow-delay=".7s">
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Aliquam accumsan et ante id pellentesque
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Aliquam accumsan et ante id
                                        </li>
                                   </ul>
                                   <div class="icon-area">
                                        <div class="icon-items wow fadeInUp" data-wow-delay=".3s">
                                            <div class="icon">
                                                <i class="flaticon-documents"></i>
                                            </div>
                                            <div class="content">
                                                <h5>Direct Online Consultation with Our UK Based Lawyers</h5>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur notted <br>
                                                    adipisicing elit sed do eiusmod temp
                                                </p>
                                            </div>
                                        </div>
                                        <div class="icon-items style-2 wow fadeInUp" data-wow-delay=".5s">
                                            <div class="icon">
                                                <i class="flaticon-visa-7"></i>
                                            </div>
                                            <div class="content">
                                                <h5>Quick & Easy Process</h5>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur notted <br>
                                                    adipisicing elit sed do eiusmod temp
                                                </p>
                                            </div>
                                        </div>
                                   </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 mt-5 mt-lg-0">
                                <div class="choose-image-items">
                                    <div class="choose-image bg-cover wow fadeInUp" data-wow-delay=".3s" style="background-image: url(&quot;assets/img/choose/01.jpg&quot;);"></div>
                                    <div class="choose-image-2 wow fadeInRight" data-wow-delay=".5s">
                                        <img src="/assets/img/choose/02.jpg" alt="choose-img">
                                    </div>
                                    <div class="circle-shape">
                                        <img src="/assets/img/choose/circle-shape.png" alt="shape-img" class="text-circle">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--<< Testimonial Section Start >>--> 
            <section class="testimonial-section-2 section-bg-2 fix section-padding">
                <div class="container">
                    <div class="section-title text-center">
                        <span class="wow fadeInUp">Our Testimonial</span>
                        <h2 class="title-anim">
                            Let’s Explore Why People Say <br> Our Services
                        </h2>
                    </div>
                </div>
                <div class="testimonial-wrapper">
                    <div class="testimonial-carousel-active-2">
                        <div class="testimonial-card-items-2">
                            <div class="testimonial-image bg-cover" style="background-image: url('/assets/img/testimonial/03.png');"></div>
                            <div class="testimonial-content">
                                <div class="star">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star color-2"></span>
                                </div>
                                <p>
                                    “Good Time is very good in what they're doing and
                                    more than happy to challenge and push you to
                                    think about your decisions both from usability and
                                    design standpoints.”
                                </p>
                                <div class="author-name">
                                    <h6>Cameron Williamson</h6>
                                    <p>CEO, Business Co</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-card-items-2">
                            <div class="testimonial-image bg-cover" style="background-image: url('/assets/img/testimonial/04.png');"></div>
                            <div class="testimonial-content">
                                <div class="star">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star color-2"></span>
                                </div>
                                <p>
                                    “Good Time is very good in what they're doing and
                                    more than happy to challenge and push you to
                                    think about your decisions both from usability and
                                    design standpoints.”
                                </p>
                                <div class="author-name">
                                    <h6>Salman Ahmed</h6>
                                    <p>Full Stack Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-card-items-2">
                            <div class="testimonial-image bg-cover" style="background-image: url('/assets/img/testimonial/05.png');"></div>
                            <div class="testimonial-content">
                                <div class="star">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star color-2"></span>
                                </div>
                                <p>
                                    “Good Time is very good in what they're doing and
                                    more than happy to challenge and push you to
                                    think about your decisions both from usability and
                                    design standpoints.”
                                </p>
                                <div class="author-name">
                                    <h6>William Thomas Brown</h6>
                                    <p>UI Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-card-items-2">
                            <div class="testimonial-image bg-cover" style="background-image: url('/assets/img/testimonial/03.png');"></div>
                            <div class="testimonial-content">
                                <div class="star">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star color-2"></span>
                                </div>
                                <p>
                                    “Good Time is very good in what they're doing and
                                    more than happy to challenge and push you to
                                    think about your decisions both from usability and
                                    design standpoints.”
                                </p>
                                <div class="author-name">
                                    <h6>Amelia Rose Wilson</h6>
                                    <p>Business Co</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-card-items-2">
                            <div class="testimonial-image bg-cover" style="background-image: url('/assets/img/testimonial/04.png');"></div>
                            <div class="testimonial-content">
                                <div class="star">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star color-2"></span>
                                </div>
                                <p>
                                    "Standpoints Time is very good in what they're doing and
                                    more than happy to challenge and push you to
                                    think about your decisions both from usability and
                                    design standpoints.”
                                </p>
                                <div class="author-name">
                                    <h6>Ethan James Miller</h6>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--<< Case Studies Start >>-->
            <div class="marque-section">
                <div class="marquee-wrapper text-slider style-height">
                    <div class="marquee-inner to-right">
                        <ul class="marqee-list d-flex">
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Visa Processing</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Help in Documentation</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Immigrations</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Travel Partners</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Tours & Travel Agency</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Visa Processing</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Help in Documentation</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Immigrations</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Travel Partners</span>
                            </li>
                            <li class="marquee-item style-2">
                                <span class="text-slider"><i class="fas fa-plane"></i></span><span class="text-slider text-style">Tours & Travel Agency</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <!--<< Contact Section Start >>--> 
            <section class="contact-section-4 fix section-padding">
                <div class="contact-shape">
                    <img src="/assets/img/contact-shape.png" alt="shape-img">
                </div>
                <div class="container">
                    <div class="contact-wrapper-3">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="contact-left-image bg-cover" style="background-image: url(/assets/img/contact/02.jpg);">
                                    <div class="counter-area">
                                        <div class="counter-items">
                                            <h2><span class="count">38</span>+</h2>
                                            <p>
                                                Designers and <br>
                                                developers
                                            </p>
                                        </div>
                                        <div class="counter-items style-2">
                                            <h2><span class="count">256</span>+</h2>
                                            <p>
                                                Awards for digital <br>
                                                innovation
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 mt-5 mt-xl-0">
                                <div class="contact-area">
                                    <div class="contact-box-2">
                                        <div class="contact-title">
                                            <span>Our team members</span>
                                            <h3>Have any question?</h3>
                                        </div>
                                        <form action="#" id="contact-form" method="POST">
                                            <div class="row g-3">
                                                <div class="col-lg-12">
                                                    <div class="form-clt">
                                                        <input type="text" name="name" id="name" placeholder="Your Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-clt">
                                                        <input type="text" name="email" id="email" placeholder="Email Address">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-clt">
                                                        <input type="text" name="phone" id="phone" placeholder="Phone Number">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-clt">
                                                        <textarea name="message" id="message" placeholder="Write Your Message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button type="submit" class="theme-btn">
                                                       <span> SEND YOUR MEASSAGE</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!-- News Blog Section Here -->
            <section class="news-section fix ralt section-padding pt-0">
                <div class="container">
                    <div class="section-title text-center">
                        <span class="wow fadeInUp">
                            NEWS & UPDATES
                        </span>
                        <h2 class="title-anim">
                            Latest News & Articles <br>
                            From the Blog
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="single-news-style-1">
                                <div class="news-image">
                                    <img src="/assets/img/home-4/news/01.jpg" alt="news-img">
                                    <img src="/assets/img/home-4/news/01.jpg" alt="news-img">
                                    <div class="post-date">
                                        <h3>24</h3>
                                        <p>NOV</p>
                                    </div>
                                </div>
                                <div class="news-content">
                                    <div class="author-item mb-4">
                                        <div class="post-cat">
                                            <a href='@Url.Action("NewsDetails", "Home")'>Citizenship</a>                    
                                        </div>
                                        <div class="post-author d-flex align-items-center">
                                            <img src="/assets/img/home-4/news/author.jpg" alt="author-img">
                                            <p>David L. Davis</p>
                                        </div>
                                    </div>
                                    <h3>
                                        <a href='@Url.Action("NewsDetails", "Home")'>
                                            Vaccination Requirements for Immigrant Visa Applicants
                                        </a>
                                    </h3>
                                    <a href='@Url.Action("NewsDetails", "Home")' class="link-btn mt-4">
                                    Read More<i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="single-news-style-1">
                                <div class="news-image">
                                    <img src="/assets/img/home-4/news/02.jpg" alt="news-img">
                                    <img src="/assets/img/home-4/news/02.jpg" alt="news-img">
                                    <div class="post-date">
                                        <h3>28</h3>
                                        <p>NOV</p>
                                    </div>
                                </div>
                                <div class="news-content">
                                    <div class="author-item mb-4">
                                        <div class="post-cat">
                                            <a href='@Url.Action("NewsDetails", "Home")'>Government</a>                    
                                        </div>
                                        <div class="post-author d-flex align-items-center">
                                            <img src="/assets/img/home-4/news/author2.jpg" alt="author-img">
                                            <p>Michael J. Gray</p>
                                        </div>
                                    </div>
                                    <h3>
                                        <a href='@Url.Action("NewsDetails", "Home")'>
                                            How to Ensure Direct for the Hassle-Free Visa Process
                                        </a>
                                    </h3>
                                    <a href='@Url.Action("NewsDetails", "Home")' class="link-btn mt-4">
                                    Read More<i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="single-news-style-1">
                                <div class="news-image">
                                    <img src="/assets/img/home-4/news/03.jpg" alt="news-img">
                                    <img src="/assets/img/home-4/news/03.jpg" alt="news-img">
                                    <div class="post-date">
                                        <h3>30</h3>
                                        <p>NOV</p>
                                    </div>
                                </div>
                                <div class="news-content">
                                    <div class="author-item mb-4">
                                        <div class="post-cat">
                                            <a href='@Url.Action("NewsDetails", "Home")'>Traveling</a>                    
                                        </div>
                                        <div class="post-author d-flex align-items-center">
                                            <img src="/assets/img/home-4/news/author3.jpg" alt="author-img">
                                            <p>David L. Davis</p>
                                        </div>
                                    </div>
                                    <h3>
                                        <a href='@Url.Action("NewsDetails", "Home")'>
                                            Citizenship Concept on How to Become a UK Resident
                                        </a>
                                    </h3>
                                    <a href='@Url.Action("NewsDetails", "Home")' class="link-btn mt-4">
                                    Read More<i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!-- Branch Section Start -->
            <section class="our-branch-wrapper section-padding pt-0">
                <div class="container">
                    <div class="col-lg-8 offset-lg-2 text-center col-12">
                        <div class="section-title">
                            <span>our branches</span>
                            <h2 class="title-anim">Contact Us</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-branch-card">
                                <div class="country-flag bg-cover" style="background-image: url('/assets/img/flag-1.jpg')"></div>
                                <div class="content">
                                    <h4>America, Los Angeles</h4>
                                    <p>24/7, Global Factory Street, 2nd Cross,
                                        San Fransisco 94112.</p>
                                    <p>+61 (625) 07520-6644 & 6655</p>
                                    <p><a href="#"><span class="__cf_email__" data-cfemail="8ffcfaffffe0fdfbcfeaf7eee2ffe3eaa1ece0e2">[email&#160;protected]</span></a></p>
                                    <div class="branch-links">
                                        <a href="#">all branch <i class="fas fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-branch-card">
                                <div class="country-flag bg-cover" style="background-image: url('/assets/img/flag-2.jpg')"></div>
                                <div class="content">
                                    <h4>Canada, Saskatoon</h4>
                                    <p>24/7, Global Factory Street, 2nd Cross,
                                        San Fransisco 94112.</p>
                                    <p>+61 (625) 07520-6644 & 6655</p>
                                    <p><a href="#"><span class="__cf_email__" data-cfemail="75060005051a070135100d14180519105b161a18">[email&#160;protected]</span></a></p>
                                    <div class="branch-links">
                                        <a href="#">all branch <i class="fas fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-branch-card">
                                <div class="country-flag bg-cover" style="background-image: url('/assets/img/flag-3.jpg')"></div>
                                <div class="content">
                                    <h4>Great Britain</h4>
                                    <p>7220 Dean Martin Drive Suite,  46 Yarra Boulevard, 2nd Cross</p>
                                    <p>+61 (625) 07520-6644 & 6655</p>
                                    <p><a href="#"><span class="__cf_email__" data-cfemail="65161015150a171125001d04081509004b060a08">[email&#160;protected]</span></a></p>
                                    <div class="branch-links">
                                        <a href="#">all branch <i class="fas fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="office-google-map-wrapper wow fadeInUp">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6678.7619084840835!2d144.9618311901502!3d-37.81450084255415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b4758afc1d%3A0x3119cc820fdfc62e!2sEnvato!5e0!3m2!1sen!2sbd!4v1641984054261!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </section>
    
            

